:root {
  --white: #f2f2f2;
  --black: #000000;
  --gray1: #303030;
  --gray2: #a7a7a7;
  --gray3: #d9d9d9;
  --gray4: #e1e1e1;
  --gray5: #e3e3e3;
  --blue1: #334553;
  --blue2: #415869;
  --blue3: #085d71;
  --blue4: #0c819c;
  --blue5: #42a3b9;
  --purple1: #552355;
  --purple2: #703770;
  --purple3: #8e528e;
  --green1: #4b8107;
  --green2: #6c9636;
  --red1: #cb1313;
  --red2: #fc3333;
  --red3: #bf430e;
  --red4: #da6736;
  --yellow1: #c79a1f;
  --yellow2: #ffbe0b;
  --yellow3: #f2ce6a;

  --loginGradient: linear-gradient(107.41deg, #2b2626 0.37%, #8b0f0f 100%);
  
}
