.home {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: clamp(12px, 1.2vw, 16px);
  background: var(--gray1);
  display: flex;
  place-items: center;
  place-content: center;

  &__container {
    padding: 2.5rem 3.74rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'setBut edtCont prmptBut'
      'fileCont editor otptCont'
      '. btmLn .';
    place-items: center;
    place-content: center;
    overflow: hidden;
    .fileControls {
      grid-area: fileCont;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      &__button {
        white-space: nowrap;
        display: flex;
        place-content: space-evenly;
        place-items: center;
        gap: 0.3em;
        padding: 1em 1.5em;
        font-weight: 400;
        color: var(--white);
        & svg {
          width: 1rem;
          height: 1rem;
        }
      }
      .fileModal {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        &__container {
          position: absolute;
          background-color: var(--blue4);
          top: 30%;
          left: 50%;
          translate: -50% -30%;
          width: 50%;
          padding: 2em 6em;
          z-index: -1;
          .xButton {
            top: 10px;
            left: 10px;
            position: absolute;
          }
          form {
            display: flex;
            flex-direction: column;
            width: 100%;
            .inputs {
              display: flex;
              place-items: end;
              :first-child {
                justify-self: stretch;
                width: 100%;
              }
            }
            :last-child {
              align-self: center;
            }
          }
        }
      }
    }
    .settingsButton {
      grid-area: setBut;
    }
    .editorControls {
      grid-area: edtCont;
    }
    .promptButton {
      grid-area: prmptBut;
    }
    .outputControl {
      width: 100%;
      height: 100%;
      grid-area: otptCont;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: space-between;
      &__usersDevices {
        width: 100%;
        &-wrapper {
          background-color: var(--black);
          padding: 1em 2em;
          margin-block: 0.9rem;
          // width: 100%;
          border-radius: 10px;
          display: flex;
          gap: 0.5rem;
          place-content: space-evenly;
          place-items: center;
          .device {
            display: flex;
            flex-direction: column;
            place-content: space-evenly;
            place-items: center;
          }
        }
      }
      &__prompt {
        text-align: center;
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1em;
        &.on {
          position: fixed;
          top: 0;
          left: 75%;
          z-index: 99;
        }
        &-toggle {
          position: relative;
          width: 75px;
          display: inline-block;
          text-align: left;
          top: 8px;
          label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid #bbb;
            border-radius: 20px;
            .inner {
              display: block;
              width: 200%;
              margin-left: -100%;
              transition: margin 0.3s ease-in 0s;
            }
            .inner:before,
            .inner:after {
              float: left;
              width: 50%;
              height: 36px;
              padding: 0;
              line-height: 36px;
              color: #fff;
              font-weight: bold;
              box-sizing: border-box;
            }
            .inner:before {
              content: '';
              padding-left: 10px;
              background-color: #060;
              color: #fff;
            }
            .inner:after {
              content: '';
              padding-right: 10px;
              background-color: #bbb;
              color: #fff;
              text-align: right;
            }
            .switch {
              display: block;
              width: 24px;
              margin: 5px;
              background: #fff;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 40px;
              border: 0 solid #bbb;
              border-radius: 20px;
              transition: all 0.3s ease-in 0s;
            }
          }
          input[type='checkbox'] {
            display: none;
            &:checked + label .inner {
              margin-left: 0;
            }
            &:checked + label .switch {
              right: 0px;
            }
          }
        }
        &-size {
          display: flex;
          background-color: var(--gray3);
          color: #868686;
          min-height: 25px;
          border-radius: 10px;

          button {
            z-index: 3;
            all: unset;
            flex: 1 1 auto;
            position: relative;
            padding: 0.5em 1em;
            cursor: default;
            label {
              pointer-events: none;
              z-index: 4;
            }
            input[type='radio'] {
              z-index: 4;
              // display: none;
            }
            &:first-child {
              border-radius: 10px 0 0 10px;
            }
            &:last-child {
              border-radius: 0 10px 10px 0;
            }
          }

          button + button {
            border-left: solid 0.75px var(--gray1);
          }
        }
      }
    }
    .bottomLine {
      grid-area: btmLn;
    }
  }
}
